#background {
   height: 100.00vh;
   background-color: white;
   display: unset;
}

#text_button_logout {
    position: absolute;
    top: 3.80vh;
    left: 54.60vw;
    display: unset;
}

#image_img_signup, #text_button_signup {
    display: none;
}