#background {
   height: 100.00vh;
   background-color: black;
   display: unset;
}

#image_img_logout {
   position: absolute;
   top: 70.98vh;
   left: 30.05vw;
   display: unset;
}

#image_img_signup {
    display: none;
}