#background {
   height: 100.00vh;
   background-color: black;
   display: unset;
}

#image_img_logout {
   position: absolute;
   top: 81.00vh;
   left: 36.93vw;
   display: unset;
}

#text_button_logout {
   position: absolute;
   top: 82.00vh;
   left: 37.60vw;
   display: unset;
} 