#button_upload {
   position: absolute;
   width: 60.00vmin;
   height: 26.00vh;
   top: 25.00vh;
   left: 20.00vw;
   padding-top: 24.00vh;
   padding-left: 40.00vmin;
   font-family: 'Segoe UI', 'segoeui';
   font-size: 2.710vmin;
   border: 0.02vh transparent;
   background-color: white;
   cursor: default;
   color: black;
   opacity: 0;
   text-align: left;
   -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
   box-shadow: 0vh 0vh 0.2vh white;
   visibility: hidden;
   display: none;
}

#button_upload::-webkit-file-upload-button {
   position: absolute;
   width: 100.00vmin;
   height: 50.00vh;
   top: 0.00vh;
   left: 0.00vw;
   padding-top: 2.00vh;
   padding-left: 40.00vmin;
   font-family: 'Segoe UI', 'segoeui';
   font-size: 2.710vmin;
   border: 0.02vh transparent;
   background-color: transparent;
   cursor: default;
   color: black;
   opacity: 0.7;
   text-align: left;
   -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none;
   box-shadow: 0vh 0vh 0.2vh transparent;
   visibility: hidden;
}